@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-snap-type: none !important;
  scroll-snap-align: unset !important;
  scroll-snap-stop: normal !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --lrc-white-bg: #eeeeee;

  --lrc-green: #035450;
  --lrc-white-text: #ffffff;
  --lrc-black-text: #000000;

  --fsu-garnet: #7c3546;
  --fsu-garnet-text: #782f40;
  --fsu-white-text: #fdfcfc;

  font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
  font-size: 16px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.green-bg {
  background-color: var(--lrc-green);
  color: var(--lrc-white-text);
}

.green-btn {
  background-color: var(--lrc-green);
  color: var(--lrc-white-text);
  transition: transform 0.2s ease;
  border-radius: 0.5rem;
}
.green-btn:hover {
  transform: scale(1.03);
}

.lrc-white-text {
  color: var(--lrc-white-text);
}

.green-top-border {
  padding: 2rem 0rem;
  background-color: var(--lrc-green);
  color: var(--lrc-white-text);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  font-weight: bold;
}

.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: between;
  gap: 2rem;
  padding: 1.5rem;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  width: 100%;
  padding: 0rem 6rem;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  width: 100%;
  padding: 0rem 6rem;
}

.contactStyle {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}
.bioStyle {
  width: 60%;
  overflow: auto;
  max-height: 19rem;
  padding: 2rem;
}
.longBioStyle {
  max-height: 16rem;
}
.mttDivWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  background-color: white;
  gap: 1.5rem;
}
.mttDivSlate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  background-color: #fafafa;
  gap: 1.5rem;
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: show;
}

@media only screen and (min-width: 850px) {
  .mobile-navbar {
    display: none;
  }
  .desktop-navbar {
    display: show;
  }
}

@media only screen and (max-width: 849px) {
  .mobile-navbar {
    display: show;
  }
  .desktop-navbar {
    display: none;
  }
  .mobile-only {
    display: show;
  }
  .desktop-only {
    display: none;
  }

  .home-content {
    flex-direction: column;
    overflow: scroll;
  }
  .faq-content {
    padding: 0rem 2rem 0rem 1.25rem;
  }
  .dashboard-content {
    padding: 0rem 2rem 0rem 1.25rem;
  }
  .mobile-iframe {
    width: 100%;
    height: 100%;
  }

  .green-top-border {
    padding: 1.5rem;
    font-size: 1.25rem;
  }

  .bioStyle {
    padding: 0rem 1.5rem;
    width: 100%;
  }
  .mttDivWhite {
    font-size: 1rem;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    gap: 0.75rem;
    padding: 1.5rem;
  }
  .mttDivSlate {
    font-size: 1rem;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    gap: 0.75rem;
    padding: 1.75rem;
  }
}
/* 
.mobile-layout {
  display: none;
}
.browser-layout {
  display: block;
} */

/* @media (max-width: 768px) {
}

@media (max-width: 640px) {
  .mobile-layout {
    display: block;
  }
  .browser-layout {
    display: none;
  }
} */
